
:root {
  --bar: #808000;
  --diamond: #FF0000;
  --stripe: #f5fcfe;
  --circle: #008080;
  --background: #008000;
  --blue-rectangle: #0000FF;
  --red-rectangle: #C83737;
  --white-rectangle: #FFFFFF;
}
